<div id="<%= dom_id space %>">
  <p>
    <strong>Name:</strong>
    <%= space.name %>
  </p>

  <p>
    <strong>Occupancy:</strong>
    <%= space.occupancy %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= space.library_id %>
  </p>

</div>
