<% content_for :title, "Find a library" %>

<header class="app-header">
  <div class="header-content">
    <h1 class="app-title">Study Transit</h1>
    <p class="app-tagline">Find a library</p>
  </div>
</header>

<main class="library-list">
  <% @libraries.each do |library| %>
    <%= link_to library_path(library), class: "library-card" do %>
      <div class="library-name">
        <%= library.name %>
      </div>
    <% end %>
  <% end %>
</main>

<%= render "shared/footer" %>
